asgiref
atomicwrites
attrs
blis
catalogue
certifi
charset-normalizer
click
colorama
comtypes~=1.2.1
cymem
decouple
Django
docopt
exceptiongroup
hypothesis
idna
iniconfig
Jinja2
langcodes
MarkupSafe
murmurhash
numpy
openpyxl~=3.1.2
packaging
pathy==0.6.2
pipreqs
pluggy
preshed
py
pydantic
pyexcelerate~=0.10.0
pyparsing
pytest
python-decouple
reportlab~=4.0.9
requests
smart-open
sortedcontainers
spacy
spacy-legacy
spacy-loggers
sqlparse
srsly
thinc
tomli
tqdm
typer
typing_extensions
tzdata
urllib3
wasabi
yarg

pyexcel~=0.7.0
fpdf~=1.7.2
python-dotenv~=1.0.1