{% extends 'base.html' %}
{% load static %}
{% block content %}
<style>
    body {
        background-image: url('{% get_media_prefix %}/images/financials_background.jpeg');
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-position: center center;
        color: white; /* Set text color to white */
    }

    /* Additional style for the summary table */
    .dark-container {
        background-color: #343a40; /* Dark background color */
        padding: 20px;
        margin-top: 20px;
        border-radius: 10px; /* Optional: Add rounded corners */
    }

    .dark-container h2 {
        color: #ffc107; /* Set heading color to yellow */
    }

    .table-dark th, .table-dark td {
        border-color: #dee2e6; /* Set border color for table cells */
    }

    /* Adjusted margin for the filter button */
    .filter-button {
        margin-top: 20px;
    }
    .col-form-label {
        font-weight: bold;
    }
</style>

<div class="container">
    <div class="jumbotron text-center text-white">
        <h1 class="display-4">Balance Sheet</h1>
        <p class="lead">Summary of financial transactions within the specified date range.</p>
    </div>

    <form method="GET" class="mb-5">
        <div class="form-group row">
            <label for="from_date" class="col-sm-2 col-form-label font-weight-bold">From Date:</label>
            <div class="col-sm-4">
                <input type="date" id="from_date" name="from_date" class="form-control" value="{{ from_date }}" />
            </div>
            <label for="to_date" class="col-sm-2 col-form-label font-weight-bold">To Date:</label>
            <div class="col-sm-4">
                <input type="date" id="to_date" name="to_date" class="form-control" value="{{ to_date|default:today }}" />
            </div>
        </div>

        <div class="row mb-3">
            <div class="col-sm-12 text-center">
                <button type="submit" class="btn btn-primary filter-button">Filter</button>
            </div>
        </div>
    </form>

    <script>
        document.addEventListener("DOMContentLoaded", function() {
            var toDateInput = document.getElementById("to_date");

            // Check if the "To Date" is not chosen
            if (!toDateInput.value) {
                // Set the default value to today's date
                var today = new Date().toISOString().split('T')[0];
                toDateInput.value = today;
            }
        });
    </script>
</div>


<div class="container dark-container">
    <div class="row">
        <div class="col-md-12">
            <h2 class="mb-3">Summary</h2>
            <div class="table-responsive">
                <table class="table table-striped table-bordered table-dark">
                    <thead>
                        <tr>
                            <th>Category</th>
                            <th>Amount</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                          <td>Cash</td>
                          <td>{{ cash }}</td>
                        </tr>
                        <tr>
                          <td>Profit</td>
                          <td>{{ profit }}</td>
                        </tr>
                        <tr>
                          <td>Inventory Purchase Cost</td>
                          <td>{{ inventory_purchase_cost }}</td>
                        </tr>
                        <tr>
                          <td>Shipping Cost</td>
                          <td>{{ shipping_cost }}</td>
                        </tr>
                        <tr>
                          <td>Internal Expenses</td>
                          <td>{{ internal_expenses }}</td>
                        </tr>
                        <tr>
                          <td>Net Profit</td>
                          <td>{{ net_profit }}</td>
                        </tr>
                        <tr>
                          <td>Discounts</td>
                          <td>{{ discounts }}</td>
                        </tr>
                        <tr>
                          <td>Asset Value</td>
                          <td>{{ asset_value }}</td>
                        </tr>
                        <tr>
                          <td>Transactions Count</td>
                          <td>{{ transactions_count }}</td>
                        </tr>
                        <tr>
                          <td>Quantity Sold</td>
                          <td>{{ quantity_sold }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h2>Items Sold</h2>
            <table class="table table-dark">
                <thead>
                    <tr>
                        <th>Item</th>
                        <th>Quantity Sold</th>
                    </tr>
                </thead>
                <tbody>
                    {% for item, quantity in items_sold.items %}
                        <tr>
                            <td>{{ item }}</td>
                            <td>{{ quantity }}</td>
                        </tr>
                    {% empty %}
                        <tr>
                            <td colspan="2">No items sold.</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    <button onclick="goBack()" class="btn btn-secondary">Back</button>

    <script>
        function goBack() {
            window.history.back();
        }
    </script>

</div>

{% endblock %}
