{% extends 'base.html' %}
{% load static %}
{% block content %}
    <style>
      body {
          background-image: url('{% get_media_prefix %}/images/documents_background.jpg');
          background-size: cover;
          background-repeat: no-repeat;
          background-attachment: fixed;
          background-position: center center;
          color: white; /* Set text color to white */
      }
    </style>
  <h2>Upload Document</h2>
  <form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit" class="btn btn-primary mt-3">Upload</button>
  </form>

<button onclick="goBack()" class="btn btn-secondary">Back</button>

<script>
function goBack() {
  window.history.back();
}
</script>

{% endblock %}
