{% extends 'base.html' %}
{% load static %}
{% block content %}
<style>
    body {
        background-image: url('{% get_media_prefix %}/images/inventory_background.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-position: center center;
        color: white; /* Set text color to white */
    }

    h1 {
        color: white; /* Set text color of h1 to white */
    }

    table {
        border-collapse: collapse;
        width: 100%;
    }

    th, td {
        padding: 10px;
        text-align: left;
        border-bottom: 1px solid #ccc;
        color: white; /* Set text color of table cells to white */
        /*font-weight: bold; */ /* Set text to bold */
    }

    th {
        background-color: #343a40; /* Header row background color */
    }
</style>
<div class="d-flex justify-content-between align-items-center mb-3">
  <h1 class="text-center mb-5">All Items</h1>
  <div>
    <a href="{% url 'Inventory:rebuy_list' %}" class="btn btn-primary mr-2">Rebuy List</a>
    <a href="{% url 'Inventory:item_create' %}" class="btn btn-primary">Create</a>
  </div>
</div>
<div class="table-responsive">
    <table class="table table-striped table-bordered table-dark">
    <thead class="table-dark">
      <tr>
        <th>Name</th>
        <th>Company</th>
        <th>Category</th>
        <th>Quantity</th>
        <th>Price</th>
        <th>Description</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      {% for item in items %}
      <tr>
        <td>{{ item.name }}</td>
        <td>{{ item.company }}</td>
        <td>{{ item.category }}</td>
        <td>{{ item.quantity }}</td>
        <td>{{ item.selling_price }}</td>
        <td>{{ item.description }}</td>
        <td>
          <a href="{% url 'Inventory:item_details' item.item_id %}" class="btn btn-primary btn-sm mr-2">Return</a>
          <a href="{% url 'Inventory:item_edit' item.item_id %}" class="btn btn-primary btn-sm mr-2">Edit</a>
          <form action="{% url 'Inventory:item_delete' item.item_id %}" method="post" style="display:inline;">
            {% csrf_token %}
            <button type="submit" class="btn btn-danger btn-sm" onclick="return confirm('Are you sure you want to delete this item?')">Delete</button>
          </form>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>


{% endblock %}